.categoryAdder{
    visibility:hidden;
}
.killerCat{
    visibility:hidden;
}
.killerDoc{
    visibility:hidden;
}
#ulDiv{
    visibility:hidden;
}
.cateditor{
    visibility:hidden;
}
.cateditor{
    visibility:hidden;
}
