body{
    background-color: white;
}
#header
{  
    background-image: url('img/logo.jpg');
    background-repeat: no-repeat;
    background-color:white;
    top:-10px;
    margin-top:10px;
    margin-bottom:10px;
    height: 190px;
    position:fixed;
    width:100%;
    z-index:2;
}
#header-holder{
    height:182px;
    width:100%;
    background: white;
    overflow: visible;
    z-index:2;
}
#toolbar{
    background-color: #3c7dc1;
    //border-radius:8px;
    //border: solid #77a7d9;
    display: inline-block;
    vertical-align: central;
    line-height: 32px;
    height:20px;
    position:absolute;
    top:143px;
    width:97.5%;
    padding:10px;
}
#content
{
    height:85%;
    margin-bottom:10px;
}
#preview{
   overflow: auto;
   margin-bottom: 10px;
   z-index: 0;
}
#loginDiv{
    display:inline-block;
    line-height: 15pt;
    
    
}
#loginDiv .login{
    display:inline-block;
    margin:0px;
}
#search{
    float: right;
    position: relative;
    right: 0px;
    margin-left:10px;

}

.clearable{
  background:url(http://i.imgur.com/z7ZSYjt.png) no-repeat right -10px center;
  background-color: white;
  transition: background 0s; /*Remove this line if issues in Chrome (02.2014)*/
}
/* (jQ addClass:) if input has value: */
.clearable.x{
  background-position: right 5px center;
}
/* (jQ addClass:) if mouse is over the 'x' input area*/
.clearable.onX{
  cursor:pointer;
}
#editButton{
    float: right;
    position: relative;
    right: 0px;

    
    visibility:hidden;
}
.dialog
{
    border: solid white;
    background: grey;
    position: absolute;
    top:100px;
    z-index:10;
    width:500px;
    margin:auto;
    height:auto;
}
    


#categoriesHolder{
    height: 100%;
    float: left;
    width: 240px;
}
#categoriesWrapper
{
    position:fixed;
    top:185px;
    float: left;
    z-index:20;
}

#categoriesDiv
{
    width: 240px;
}

.preview{
    border: solid black;
    border-radius: 8px;
    height:180px;
    margin-bottom:5px;
}

#nascosto{
    position:absolute;
    top:190px;
    left:0px;
    width:100%;
    height:80px;
    opacity:0;
    z-index:1;
}

ul{
    margin:0px;
}

.killable{
    display: inline-block;
    list-style: none;
    background: #436992;
    border: solid;
    border-color:#77a7d9;
    color: lightgray;
    padding-left: 10px;
    margin:5px;
    border-radius:5px;
    max-width: 100px;
}
.killableCat{
    list-style: none;
    background: #436992;
    border: solid;
    border-color:#77a7d9;

    color: white;
    padding-left: 10px;
    margin:5px;
    border-radius:5px;
    max-width: 223px;
    font-size:14pt;
    height:32px;
}
.nameCat{
    
    display: inline-block;
    overflow:hidden;
    max-width: 150px;
    line-height: 32px;
}
.killableCat:hover{
    border-color: gray; 
}
.killer{
    color: black;
    cursor: pointer;
    cursor: hand;
}
.killerCat{
    color: black;
    cursor: pointer;
    cursor: hand;
    float: right;
    
}
img.killerCat{
    width:32px;
    height:32px;
}
.editCat{
    position: absolute;
    float: left;
    visibility: hidden;
    z-index:20;
}
.editCat input{
    position: relative;
    top: -22px;
}
.greyDiv{
    background-color: rgba(229,229,229,.75 );
    height: 100%;
    width:100%;
    z-index:20;
    position:fixed;

    top:0px;
    left:0px;
    text-align: center;
}
.dialog{
    overflow-y:auto;
    overflow-x:hidden;
    max-height:350px;
    position:relative;
    display: block;
    margin-right:auto;
    margin-left:auto;
    padding:20px;
    padding-top:5px;
    width:500px;
    text-align: left;
    background-color:white;
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
}

.unknown{
    background-image: url('img/file_unknown.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.other{
    background-image: url('img/file_other.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.photo{
    background-image: url('img/file_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.audio{
    background-image: url('img/file_audio.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.document{
    background-image: url('img/file_document.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.video{
    background-image: url('img/file_video.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.archive{
    background-image: url('img/file_archive.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.ubermargin{
    margin:0px;
    width:600px;
}
.killerDoc{
    cursor: pointer;
    cursor: hand;
    float: right;
    position:relative;
    bottom:5px;
}
.block-left{
    float:left;
    display:block;
    margin:5px;
}
.block-right{
    float:right;
    display:block;
    margin:5px;
    position:relative;
    bottom:48px;
}
.hand{
    cursor:hand;
}
.right{
    float:right;
}
textarea {
   resize: none;
}
.small{
    height:64px;
    width: 64px;
}
#paginator span{
    font-size: 20pt;
}
#paginator{
    text-align: center;
    margin:auto;
}
.blue{
    color:blue;
}
#ulDiv{
    text-align: center;
    border: solid black;
    margin-bottom: 5px;
    border-radius: 8px;
    background: #77a7d9;
    
}
#year{
    float:right;
    position:relative;
}
.logo{
    float:left;
    height:90px;
}

.ui-menu-item{
    background-color: white;
    border: solid black 1px;    
}
.unselected{
    color:#3c7dc1;
    background:lightgray;
    border:solid white;
}

.owned{
    background: url('img/owned.png') right;
    background-repeat: no-repeat;
    border:solid #77a7d9;
}
.private{
    background: url('img/private.png') right;
    background-repeat: no-repeat;
    border:solid #436992;
}
.dl{
    position:relative;
    bottom:5px;
}
.login{
color:white;

}
.loggati{
    text-decoration:underline;
    padding-right:10px;
    margin-right:10px;
    margin-left: 10px;

    position:relative;

}
.edit{
    line-height: 15pt;
    margin:0px;
    margin-right:10px;
    padding-top:0px;
    padding-bottom:0px;
    height: 20px;
}
label img{
    float:right;
    position:relative;
    bottom: 5px;
}
.dialog{
    word-wrap: break-word;
}
.inline{
    display:inline-block;
}
