
#header
{
    background-color: #999999;    
    height: 90px;
}

#content
{
    height:85%;
    margin-bottom:10px;
}
#preview{
   overflow: auto;
   border-bottom: solid black;
   height:422px;
   margin-bottom: 10px;
   z-index: 1;
}

#login
{
    text-align: center;
    border: solid black;
    
    width: 50px;
    height: 20px;
    z-index: 10;
    
    float: right;
    position: relative;
    right: 0px;
    bottom: -64px; 
}

    #login:hover
    {
        background: black;
        border: solid white;
        color: white;
    }
    
#loginDiv
{
    background:#E0E0E0;
    
    z-index: 9;
    padding: 10px;
    
    text-align: right;
    position: absolute;
    right: 8px;
    top: 98px;
}
#search{
    float: right;
    position: relative;
    right: 0px;
    bottom: -64px; 
}
#editButton{
    float: right;
    position: relative;
    right: 0px;
    bottom: -64px; 
    
    visibility:hidden;
}
.dialog
{
    border: solid white;
    background: grey;
    position: absolute;
    top:100px;
    z-index:10;
    width:500px;
    margin:auto;
    height:auto;
}
    



#categoriesWrapper
{
    background-color: #cccccc;
    
    height: 85%;
    
    float: left;
}

#categories
{
    border:solid red;
    text-align: center;
    background-color: lightgray;
    
    width: 15px;
    
    float:right;
    position:absolute;
    position:relative;
    right:0px;
}

    #categories:hover
    {
        background-color: gray;
    }

#categoriesDiv
{
    width: 260px;
}

.preview{
    border:solid black;
    border-bottom: none;
    height:180px;
}

#nascosto{
    position:absolute;
    opacity:0;
    z-index:4;
}

ul{
    margin:0px;
    height:40px;
}

.killable{
    position: relative;
    top: 10px;
    list-style: none;
    background: threedlightshadow;
    border: solid grey;
    color: grey;
    padding: 5px;
    border-radius:5px;
   display: inline;
}
.killableCat{
    list-style: none;
    background: threedlightshadow;
    border: solid grey;
    color: grey;
    padding: 5px;
    border-radius:5px;
    max-width: 223px;
}
.killableCat:hover{
    background-color: gray; 
}
.killer{
    color: black;
    cursor: pointer;
    cursor: hand;
}
.killerCat{
    color: black;
    cursor: pointer;
    cursor: hand;
    float: right;
    
}

.editCat{
    position: absolute;
    float: left;
    visibility: hidden;
}
.editCat input{
    position: relative;
    top: -22px;
}
.greyDiv{
    background-color: rgba(236,236,224,.5);
    height: 100%;
    width:100%;
    z-index:20;
    position:absolute;
    top:0px;
    left:0px;
    text-align: center;
}
.dialog{
    position:relative;
    display: block;
    margin-right:auto;
    margin-left:auto;
    width:500px;
    text-align: left;
    background-color:white;
    border: solid black;
}

.unknown{
    background-image: url('img/file_unknown.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.other{
    background-image: url('img/file_other.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.photo{
    background-image: url('img/file_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.audio{
    background-image: url('img/file_audio.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.document{
    background-image: url('img/file_document.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.video{
    background-image: url('img/file_video.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.archive{
    background-image: url('img/file_archive.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.ubermargin{
    margin:0px;
    width:600px;
}
.killerDoc{
    color:red;
    cursor: pointer;
    cursor: hand;
    float: right;
}
.preview div{
    float:left;
    display:block;
    margin:5px;
}