body{
    background-color: white;
}
#header
{  
    background-image: url('img/logo.jpg');
    background-repeat: no-repeat;
    background-color:white;
    height: 180px;
    position:fixed;
    width:100%;
    z-index:2;
}
#header-holder{
    height:190px;
    width:100px;
}
#toolbar{
    background-color: #3c7dc1;
    border-radius:8px;
    border: solid #77a7d9;
    height:20px;
    position:absolute;
    top:140px;
    width:97.5%;
    padding:10px;
}
#content
{
    height:85%;
    margin-bottom:10px;
}
#preview{
   border: solid black;
   border-radius: 10px;
   overflow: auto;
   margin-bottom: 10px;
   z-index: 1;
}
#loginWrapper{
    z-index: 20;
}
#login
{
    text-align: center;
    border: solid;
    border-color:#77a7d9;
    color:lightgray;
    background:#436992;
    
    width: 50px;
    height: 20px;

    
    float: right;
    position: relative;
    right: 0px;

}

    #login:hover
    {
        background: #77a7d9;
        border: solid;
        border-color: #436992;
    }
    
#loginDiv
{
    background:#E0E0E0;
    

    padding: 10px;
    
    text-align: right;
    position: absolute;
    right:10px;
    top:  34px;
    z-index: 20;
}
#search{
    float: right;
    position: relative;
    right: 0px;

}
#editButton{
    float: right;
    position: relative;
    right: 0px;

    
    visibility:hidden;
}
.dialog
{
    border: solid white;
    background: grey;
    position: absolute;
    top:100px;
    z-index:10;
    width:500px;
    margin:auto;
    height:auto;
}
    


#categoriesHolder{
    height: 100%;
    float: left;
    width: 240px;
}
#categoriesWrapper
{
    position:fixed;
    top:200px;
    float: left;
    z-index:20;
}

#categoriesDiv
{
    width: 240px;
}

.preview{
    border-bottom: solid black;
    border-radius: 8px;
    height:180px;
}

#nascosto{
    position:absolute;
    top:190px;
    left:0px;
    width:100%;
    height:80px;
    opacity:0;
    z-index:1;
}

ul{
    margin:0px;
    height:40px;
}

.killable{
    position: relative;
    top: 10px;
    list-style: none;
    background: #436992;
    border: solid;
    border-color:#77a7d9;
    color: lightgray;
    padding-left: 10px;
    margin:5px;
    border-radius:5px;
    max-width: 100px;
}
.killableCat{
    list-style: none;
    background: #436992;
    border: solid;
    border-color:#77a7d9;
    color: lightgray;
    padding-left: 10px;
    margin:5px;
    border-radius:5px;
    max-width: 223px;
}
.killableCat:hover{
    border-color: gray; 
}
.killer{
    color: black;
    cursor: pointer;
    cursor: hand;
}
.killerCat{
    color: black;
    cursor: pointer;
    cursor: hand;
    float: right;
    
}

.editCat{
    position: absolute;
    float: left;
    visibility: hidden;
    z-index:20;
}
.editCat input{
    position: relative;
    top: -22px;
}
.greyDiv{
    background-color: rgba(236,236,224,.5);
    height: 100%;
    width:100%;
    z-index:20;
    position:fixed;

    top:0px;
    left:0px;
    text-align: center;
}
.dialog{
    position:relative;
    display: block;
    margin-right:auto;
    margin-left:auto;
    padding:20px;
    padding-top:5px;
    width:500px;
    text-align: left;
    background-color:white;
    border: solid black;
}

.unknown{
    background-image: url('img/file_unknown.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.other{
    background-image: url('img/file_other.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.photo{
    background-image: url('img/file_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.audio{
    background-image: url('img/file_audio.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.document{
    background-image: url('img/file_document.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.video{
    background-image: url('img/file_video.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.archive{
    background-image: url('img/file_archive.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px; /*or your image's width*/
    height: 100px; /*or your image's height*/
    margin: 10px;
    padding: 0px;
}
.ubermargin{
    margin:0px;
    width:600px;
}
.killerDoc{
    cursor: pointer;
    cursor: hand;
    float: right;
}
.block-left{
    float:left;
    display:block;
    margin:5px;
}
.block-right{
    float:right;
    display:block;
    margin:5px;
    position:relative;
    bottom:48px;
}
.hand{
    cursor:hand;
}
.right{
    float:right;
}
textarea {
   resize: none;
}
.small{
    height:64px;
    width: 64px;
}
#paginator span{
    font-size: 20pt;
}
#paginator{
    text-align: center;
    margin:auto;
}
.blue{
    color:blue;
}
#ulDiv{
    text-align: center;
    border-bottom: solid black;
}
#year{
    float:right;
    position:relative;
}
.logo{
    float:left;
    height:90px;
}

.ui-menu-item{
    background-color: white;
    border: solid black 1px;    
}