/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-mag-2014, 11.34.14
    Author     : Francesco
*/
body{
    text-align: center;
}
.container{
    width: 800px;
    margin: auto;
}
.header{
    background: yellow;
    height: 100px;
    
}

.sideMenu{
    background:orange;
    width:250px;
    height:500px;
    float:left;
}

.main{
    background: red;
    width:550px;
    height:500px;
    float:right;
    
}